In [25]:
import pandas as pd
from sqlalchemy import create_engine

In [43]:
engine = create_engine(
    "mysql+pymysql://analyst:analyst123@localhost:3306/hr_db"
)

In [45]:
df = pd.read_sql("SELECT * FROM employees", engine)

In [47]:
df.head()

,age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,totalworkingyears,TrainingTimesLastYear,WorkLifeBalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,3,4,1,6,3,3,2,2,2,2

In [51]:
df.columns

Index(['age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'totalworkingyears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager'],
      dtype='object')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1470 non-null   int64
 16  MaritalStatus             1470 non-null   object
 17  MonthlyIncome             1470 non-null   int64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  OverTime                  1470 non-null   object
 21  PercentSalaryHike         1470 non-null   int64
 22  PerformanceRating         1470 non-null   int64
 23  RelationshipSatisfaction  1470 non-null   int64
 24  StockOptionLevel          1470 non-null   int64
 25  totalworkingyears         1470 non-null   int64
 26  TrainingTimesLastYear     1470 non-null   int64
 27  WorkLifeBalance           1470 non-null   int64
 28  yearsatcompany            1470 non-null   int64
 29  yearsincurrentrole        1470 non-null   int64
 30  yearssincelastpromotion   1470 non-null   int64
 31  yearswithcurrmanager      1470 non-null   int64
dtypes: int64(24), object(8)
memory usage: 367.6+ KB

<h2 style="color:#2E86C1;">Create Column</h2>

In [59]:
df["attrition_flag"] = df["Attrition"].map({"Yes": 1, "No": 0})

In [61]:
# departments have the highest employee attrition rate

dept_attrition = (
    df.groupby("Department")["attrition_flag"]
    .mean()
    .sort_values(ascending=False)
)

dept_attrition

Department
Sales                     0.206278
Human Resources           0.190476
Research & Development    0.138398
Name: attrition_flag, dtype: float64

In [63]:
# job roles experience the highest turnover

jobrole_attrition = (
    df.groupby("JobRole")["attrition_flag"]
    .mean()
    .sort_values(ascending=False)
)

jobrole_attrition

JobRole
Sales Representative         0.397590
Laboratory Technician        0.239382
Human Resources              0.230769
Sales Executive              0.174847
Research Scientist           0.160959
Manufacturing Director       0.068966
Healthcare Representative    0.068702
Manager                      0.049020
Research Director            0.025000
Name: attrition_flag, dtype: float64

In [65]:
# overtime impact employee attrition

overtime_attrition = (
    df.groupby("OverTime")["attrition_flag"]
    .mean()
)

overtime_attrition

OverTime
No     0.104364
Yes    0.305288
Name: attrition_flag, dtype: float64

In [67]:
# job satisfaction influence employee attrition

job_satisfaction_attrition = (
    df.groupby("JobSatisfaction")["attrition_flag"]
    .mean()
    .sort_index()
)

job_satisfaction_attrition

JobSatisfaction
1    0.228374
2    0.164286
3    0.165158
4    0.113290
Name: attrition_flag, dtype: float64

In [69]:
# work-life balance affect employee retention

wlb_attrition = (
    df.groupby("WorkLifeBalance")["attrition_flag"]
    .mean()
    .sort_index()
)

wlb_attrition

WorkLifeBalance
1    0.312500
2    0.168605
3    0.142217
4    0.176471
Name: attrition_flag, dtype: float64

In [71]:
# Is monthly income related to employee attrition

income_attrition = (
    df.groupby("Attrition")["MonthlyIncome"]
    .mean()
)

income_attrition

Attrition
No     6832.739659
Yes    4787.092827
Name: MonthlyIncome, dtype: float64

In [75]:
# Are employees with fewer years at the company more likely to leave

tenure_attrition = (
    df.groupby("Attrition")["yearsatcompany"]
    .mean()
)

tenure_attrition

Attrition
No     7.369019
Yes    5.130802
Name: yearsatcompany, dtype: float64

In [79]:
# Does lack of promotion increase attrition risk

promotion_attrition = (
    df.groupby("Attrition")["yearssincelastpromotion"]
    .mean()
)

promotion_attrition

Attrition
No     2.234388
Yes    1.945148
Name: yearssincelastpromotion, dtype: float64

In [81]:
# How does business travel frequency affect attrition

travel_attrition = (
    df.groupby("BusinessTravel")["attrition_flag"]
    .mean()
    .sort_values(ascending=False)
)

travel_attrition

BusinessTravel
Travel_Frequently    0.249097
Travel_Rarely        0.149569
Non-Travel           0.080000
Name: attrition_flag, dtype: float64

In [83]:
# employee segments are at the highest risk of attrition

high_risk_segments = (
    df.groupby(["Department", "JobRole"])["attrition_flag"]
    .mean()
    .sort_values(ascending=False)
    .head(10)
)

high_risk_segments

Department              JobRole
Sales                   Sales Representative         0.397590
Research & Development  Laboratory Technician        0.239382
Human Resources         Human Resources              0.230769
Sales                   Sales Executive              0.174847
Research & Development  Research Scientist           0.160959
                        Manufacturing Director       0.068966
                        Healthcare Representative    0.068702
                        Manager                      0.055556
Sales                   Manager                      0.054054
Research & Development  Research Director            0.025000
Name: attrition_flag, dtype: float64